*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(anime.webp);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

nav ul li{
    flex: 1;
    list-style: none;
    text-align: center;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: large;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 70px;
}
p{
    color: #fff;
    font-size: 20px;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

h5{
    color: #fff;
    font-size: 20px;
}

.card1{
    background-image: url(timezone.webp);
    background-position: center;
    text-decoration: none;
    color: #fff;
    flex: 1;
}

.card2{
    background-image: url(picnic.jpg);
    background-position: center;
}

.card3{
    background-image: url(binondo.jpg);
    background-position: center;
}

.card4{
    background-image: url(cinema.jpg);
    background-position: center;
}

.card:hover{
    transform: translateY(-10px);
}
